In [1]:
import numpy as np
import pandas as pd

## *CSV Dataset*

In [ ]:
test_df = pd.read_csv('../Datasets/test.csv')
test_df.head(5)

In [ ]:
result_df = pd.DataFrame({
    'text': test_df['title'],
    'text_type': ['only_title'] * len(test_df),
    'real_tag': test_df['tag'],
    'predicted_k_0': np.nan,
    'predicted_k_1': np.nan,
    'predicted_k_2': np.nan,
    'predicted_k_3': np.nan,
    'predicted_k_4': np.nan,
    'predicted_k_5': np.nan,
    'predicted_k_10': np.nan,
    'predicted_k_20': np.nan,
    'predicted_k_50': np.nan
})
result_df.head(5)

In [4]:
result_df.to_csv('../Datasets/System_User_Persian_Prompt_Aya_Results.csv', index=False)

## *Excel Categorized Dataset*

In [2]:
test_df = pd.read_excel('../Datasets/test_bert_cat.xlsx')
test_df.tail(5)

,title,text,tags,tag,title_tr,text_tr,tags_tr,chatgpt_prompt4_tag,chatgpt_prompt7_tag,prompt_fa_kshot_tfidf,...,prompt_fa_10shot_invserse_sample_with_tag_multi-qa-mpnet-base-dot-v1,prompt_fa_10shot_invserse_sample_with_tag_embaas-entence-transformers-e5-large-v2,prompt_fa_10shot_invserse_sample_with_tag_all-distilroberta-v1,prompt_fa_10shot_invserse_sample_with_tag_All_mpnet_base_v2_text_1500ch_title,prompt_fa_10shot_invserse_sample_with_tfidf_123gram_titletext_similarity,prompt_texttags_fa_10shot_invserse_sample_with_tag_All_mpnet_base_v2,prompt_fa_20shot_invserse_sample_with_tag_All_mpnet_base_v2,cot_en,cot_fa,category
1174,بازار متشکل ارزی در روز 15 خرداد فعال خواهد بود,به گزارش خبرگزاری مهر به نقل از ایبنا، امیر ها...,"['امیرهامونی', 'بازار متشکل ارزی', 'ارز']",0,The foreign exchange market will be active on ...,"According to Mehr News Agency, citing IBNA, Am...","['Amir Hamooni', 'Organized Foreign Exchange M...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n'''\n \n\nLet's break down this news item an...,\n\n\n\n\n## پاسخ\n\n**سرنخ ها:**\n\n1. **باز...,اقتصادی
1175,قیمت سکه پارسیان امروز یکشنبه هشتم اسفند ماه ۱۴۰۰,فرارو- قیمت انواع سکه پارسیان امروز یکشنبه هشت...,"['قیمت سکه', 'قیمت طلا']",0,"The price of Persian gold coin today, Monday, ...",Fararu - The prices of various types of Persia...,"['Coin price', 'gold price']",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n'''\n \n\n## Analysis of News Importance\n\n...,\n\n\n\n\nREASONING_START:\nاین خبر نرخ سکه و ...,اقتصادی
1176,انتقال ۱۰۰ میلیون یورویی بعدی کدام بازیکن است ...,به گزارش همشهری آنلاین به نقل از مارکا، در حال...,"['خبر مهم', 'نقل و انتقال بازیکنان خارجی', 'با...",0,The next €100 million transfer is for which pl...,"According to reports from Hamshahri Online, as...","['Important news', 'foreign player transfers',...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n'''\n \n\n## Clues:\n\n1. **Focus on Europea...,\n\n\n\n\nREASONING_START:\nاین خبر درباره نقل...,ورزشی
1177,مبارزه علیه آپارتاید اسرائیل بخشی از جریان مقا...,به گزارش خبرگزاری مهر، زوولیولیله مندلا ماندلا...,"['سازمان فرهنگ و ارتباطات اسلامی', 'نلسون ماند...",0,The struggle against Israeli apartheid is part...,"According to Mehr News Agency, Zindziswa Mande...",['Organization of Culture and Islamic Communic...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n'''\n## Clues:\n\n1. **International Figure:...,\n\n\n\n\nREASONING_START:\nاین خبر درباره دید...,سیاسی
1178,آیا قیمت گوشت قرمز در تابستان افسار پاره می‌کند؟,فرارو- گوشت قرمز در خرداد ۱۴۰۰ کمترین میزان اف...,"['قیمت خودرکی', 'قیمت گوشت', 'تورم']",1,Does the price of red meat skyrocket in the su...,"Fararu - In Khordad 1400, red meat experienced...","['Self-service price', 'meat price', 'inflation']",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n'''\n \n \n \n \n \n \n ...,\n\n\n\n\nREASONING_START:\nاین خبر در مورد رو...,اقتصادی

In [3]:
result_df = pd.DataFrame({
    'text': test_df['title'],
    'text_type': ['title'] * len(test_df),
    'real_tag': test_df['tag'],
    'category': test_df['category'],
    'predicted_k_0': np.nan,
    'predicted_k_1': np.nan,
    'predicted_k_2': np.nan,
    'predicted_k_3': np.nan,
    'predicted_k_4': np.nan,
    'predicted_k_5': np.nan,
    'predicted_k_10': np.nan,
    'predicted_k_20': np.nan,
    'predicted_k_50': np.nan
})
result_df.head(5)

,text,text_type,real_tag,category,predicted_k_0,predicted_k_1,predicted_k_2,predicted_k_3,predicted_k_4,predicted_k_5,predicted_k_10,predicted_k_20,predicted_k_50
0,واکنش کنسولگری ایران در استانبول به ریجکت شدن ...,title,0,اجتماعی,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,برگزاری دادگاه پرونده کثیرالشاکی شرکت کاغذی «آ...,title,0,اجتماعی,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,خبر جدید وزیر بهداشت درباره بازگشایی مدارس در ...,title,1,اجتماعی,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,شکایت باشگاه استقلال از عیسی آل کثیر,title,1,ورزشی,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,دولت فرانسه مسئول عواقب اهانت بی‌شرمانه علیه م...,title,0,سیاسی,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
result_df.to_csv('../Datasets/System_User_Prompt_Title_Health_Medical.csv', index=False)

## *Convert to Categorized*

In [ ]:
result_df = pd.read_csv('../Datasets/System_User_Prompt_Full_Text.csv')
result_df.tail(5)

In [ ]:
final_df = pd.DataFrame({
    'text': result_df['text'],
    'text_type': ['full_text'] * len(result_df),
    'real_tag': result_df['real_tag'],
    'category': test_df['category'],
    'predicted_k_0': np.nan,
    'predicted_k_1': np.nan,
    'predicted_k_2': np.nan,
    'predicted_k_3': np.nan,
    'predicted_k_4': np.nan,
    'predicted_k_5': np.nan,
    'predicted_k_10': np.nan,
    'predicted_k_20': result_df['predicted_k_20'],
    'predicted_k_50': np.nan
})
final_df.head(5)

In [8]:
final_df.to_csv('../Datasets/System_User_Prompt_Full_Text_Categorized.csv', index=False)